button,hr,input {
  overflow: visible
}

*, ::after, ::before {
    box-sizing: border-box;
}
input {
  border-radius: 0;
  -webkit-appearance: none;
}
progress,sub,sup {
  vertical-align: baseline
}

[type=checkbox],[type=radio],legend {
  box-sizing: border-box;
  padding: 0
}

.xl-flexbox,.xl-table {
  -webkit-column-count: auto;
  -moz-column-count: auto
}

.wrap,.xl-left {
  text-align: left
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,strong {
  font-weight: bolder
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

.modal,.modal-backdrop {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

img {
  border-style: none
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,select {
  text-transform: none
}

[type=button],[type=reset],[type=submit],button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: ButtonText dotted 1px
}

fieldset {
  padding: .35em .75em .625em
}

.xl-gutter-0,.xl-gutter-0>*,.xl-gutter-8 {
  padding-left: 0;
  padding-right: 0
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal
}

.wrap>*,.xl-top>* {
  vertical-align: top
}

textarea {
  overflow: auto
}

.modal,.modal-open {
  overflow: hidden
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

[hidden],template {
  display: none
}
.wrap {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap > * {
  display: inline-block;
  vertical-align: top;
}

.col {
  min-height: 1px;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.xl-auto > * {
  width: auto;
}

.xl-1 > * {
  width: 100%;
}

.xl-2 > * {
  width: 50%;
}

.xl-3 > * {
  width: 33.33333%;
}

.xl-4 > * {
  width: 25%;
}

.xl-5 > * {
  width: 20%;
}

.xl-6 > * {
  width: 16.66667%;
}

.xl-7 > * {
  width: 14.28571%;
}

.xl-8 > * {
  width: 12.5%;
}

.xl-9 > * {
  width: 11.11111%;
}

.xl-10 > * {
  width: 10%;
}

.xl-11 > * {
  width: 9.09091%;
}

.xl-12 > * {
  width: 8.33333%;
}

.xl-table {
  display: table;
  table-layout: fixed;
  -webkit-flex-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-flex-wrap: initial;
  -ms-flex-wrap: initial;
  flex-wrap: initial;
  -webkit-justify-content: initial;
  -ms-justify-content: initial;
  justify-content: initial;
  -webkit-align-content: initial;
  -ms-align-content: initial;
  align-content: initial;
  -webkit-align-items: initial;
  -ms-align-items: initial;
  align-items: initial;
  -webkit-column-count: auto;
  -moz-column-count: auto;
  column-count: auto;
}

.xl-table > * {
  display: table-cell;
}

.xl-flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  table-layout: auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-column-count: auto;
  -moz-column-count: auto;
  column-count: auto;
}

.xl-flexbox > * {
  display: inline-block;
}

.xl-normal {
  display: block;
  table-layout: auto;
  -webkit-flex-direction: initial;
  -ms-flex-direction: initial;
  flex-direction: initial;
  -webkit-flex-wrap: initial;
  -ms-flex-wrap: initial;
  flex-wrap: initial;
  -webkit-justify-content: initial;
  -ms-justify-content: initial;
  justify-content: initial;
  -webkit-align-content: initial;
  -ms-align-content: initial;
  align-content: initial;
  -webkit-align-items: initial;
  -ms-align-items: initial;
  align-items: initial;
  -webkit-column-count: auto;
  -moz-column-count: auto;
  column-count: auto;
}

.xl-normal > * {
  display: inline-block;
}

.xl-left {
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.xl-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
}

.xl-right {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.xl-top {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.xl-top > * {
  vertical-align: top;
}

.xl-middle {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.xl-middle > * {
  vertical-align: middle;
}

.xl-bottom {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.xl-bottom > * {
  vertical-align: bottom;
}

.xl-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-align-content: space-between;
  align-content: space-between;
}

.xl-around {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
}

.xl-baseline {
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}

.xl-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.xl-not-reverse {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.xl-1-1 {
  width: 100%;
}

.xl-1-2 {
  width: 50%;
}

.xl-1-3 {
  width: 33.33333%;
}

.xl-2-3 {
  width: 66.66667%;
}

.xl-1-4 {
  width: 25%;
}

.xl-2-4 {
  width: 50%;
}

.xl-3-4 {
  width: 75%;
}

.xl-1-5 {
  width: 20%;
}

.xl-2-5 {
  width: 40%;
}

.xl-3-5 {
  width: 60%;
}

.xl-4-5 {
  width: 80%;
}

.xl-1-6 {
  width: 16.66667%;
}

.xl-2-6 {
  width: 33.33333%;
}

.xl-3-6 {
  width: 50%;
}

.xl-4-6 {
  width: 66.66667%;
}

.xl-5-6 {
  width: 83.33333%;
}

.xl-1-7 {
  width: 14.28571%;
}

.xl-2-7 {
  width: 28.57143%;
}

.xl-3-7 {
  width: 42.85714%;
}

.xl-4-7 {
  width: 57.14286%;
}

.xl-5-7 {
  width: 71.42857%;
}

.xl-6-7 {
  width: 85.71429%;
}

.xl-1-8 {
  width: 12.5%;
}

.xl-2-8 {
  width: 25%;
}

.xl-3-8 {
  width: 37.5%;
}

.xl-4-8 {
  width: 50%;
}

.xl-5-8 {
  width: 62.5%;
}

.xl-6-8 {
  width: 75%;
}

.xl-7-8 {
  width: 87.5%;
}

.xl-1-9 {
  width: 11.11111%;
}

.xl-2-9 {
  width: 22.22222%;
}

.xl-3-9 {
  width: 33.33333%;
}

.xl-4-9 {
  width: 44.44444%;
}

.xl-5-9 {
  width: 55.55556%;
}

.xl-6-9 {
  width: 66.66667%;
}

.xl-7-9 {
  width: 77.77778%;
}

.xl-8-9 {
  width: 88.88889%;
}

.xl-1-10 {
  width: 10%;
}

.xl-2-10 {
  width: 20%;
}

.xl-3-10 {
  width: 30%;
}

.xl-4-10 {
  width: 40%;
}

.xl-5-10 {
  width: 50%;
}

.xl-6-10 {
  width: 60%;
}

.xl-7-10 {
  width: 70%;
}

.xl-8-10 {
  width: 80%;
}

.xl-9-10 {
  width: 90%;
}

.xl-1-11 {
  width: 9.09091%;
}

.xl-2-11 {
  width: 18.18182%;
}

.xl-3-11 {
  width: 27.27273%;
}

.xl-4-11 {
  width: 36.36364%;
}

.xl-5-11 {
  width: 45.45455%;
}

.xl-6-11 {
  width: 54.54545%;
}

.xl-7-11 {
  width: 63.63636%;
}

.xl-8-11 {
  width: 72.72727%;
}

.xl-9-11 {
  width: 81.81818%;
}

.xl-10-11 {
  width: 90.90909%;
}

.xl-1-12 {
  width: 8.33333%;
}

.xl-2-12 {
  width: 16.66667%;
}

.xl-3-12 {
  width: 25%;
}

.xl-4-12 {
  width: 33.33333%;
}

.xl-5-12 {
  width: 41.66667%;
}

.xl-6-12 {
  width: 50%;
}

.xl-7-12 {
  width: 58.33333%;
}

.xl-8-12 {
  width: 66.66667%;
}

.xl-9-12 {
  width: 75%;
}

.xl-10-12 {
  width: 83.33333%;
}

.xl-11-12 {
  width: 91.66667%;
}

.xl-hidden {
  display: none;
}

.xl-not-hidden {
  display: inline-block;
}

.xl-first {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}

.xl-not-first {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

.xl-last {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.xl-not-last {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

.xl-gutter-0 {
  width: calc(100% + 0px);
  margin-left: -0px;
  margin-right: -0px;
  padding-left: 0;
  padding-right: 0;
}

.xl-gutter-0 > * {
  padding-left: 0px;
  padding-right: 0px;
}

.xl-gutter-8 {
  width: calc(100% + 8px);
  margin-left: -4px;
  margin-right: -4px;
  padding-left: 0;
  padding-right: 0;
}

.xl-gutter-8 > * {
  padding-left: 4px;
  padding-right: 4px;
}

.xl-gutter-16 {
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
  padding-left: 0;
  padding-right: 0;
}

.xl-gutter-16 > * {
  padding-left: 8px;
  padding-right: 8px;
}

.xl-gutter-24 {
  width: calc(100% + 24px);
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 0;
  padding-right: 0;
}

.xl-gutter-24 > * {
  padding-left: 12px;
  padding-right: 12px;
}

.xl-gutter-40 {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
}

.xl-gutter-40 > * {
  padding-left: 20px;
  padding-right: 20px;
}

.xl-outside-0 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.xl-outside-8 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.xl-outside-16 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.xl-outside-24 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.xl-outside-40 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.xl-masonry-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.xl-masonry-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.xl-masonry-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.xl-masonry-5 {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}

.xl-masonry-6 {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}

@media (max-width: 1024px) {
  .lg-auto > * {
    width: auto;
  }
  .lg-1 > * {
    width: 100%;
  }
  .lg-2 > * {
    width: 50%;
  }
  .lg-3 > * {
    width: 33.33333%;
  }
  .lg-4 > * {
    width: 25%;
  }
  .lg-5 > * {
    width: 20%;
  }
  .lg-6 > * {
    width: 16.66667%;
  }
  .lg-7 > * {
    width: 14.28571%;
  }
  .lg-8 > * {
    width: 12.5%;
  }
  .lg-9 > * {
    width: 11.11111%;
  }
  .lg-10 > * {
    width: 10%;
  }
  .lg-11 > * {
    width: 9.09091%;
  }
  .lg-12 > * {
    width: 8.33333%;
  }
  .lg-table {
    display: table;
    table-layout: fixed;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .lg-table > * {
    display: table-cell;
  }
  .lg-flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    table-layout: auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .lg-flexbox > * {
    display: inline-block;
  }
  .lg-normal {
    display: block;
    table-layout: auto;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .lg-normal > * {
    display: inline-block;
  }
  .lg-left {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .lg-center {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .lg-right {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
  .lg-top {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .lg-top > * {
    vertical-align: top;
  }
  .lg-middle {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .lg-middle > * {
    vertical-align: middle;
  }
  .lg-bottom {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
  .lg-bottom > * {
    vertical-align: bottom;
  }
  .lg-between {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
  }
  .lg-around {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
  }
  .lg-baseline {
    -webkit-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
  }
  .lg-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .lg-not-reverse {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .lg-1-1 {
    width: 100%;
  }
  .lg-1-2 {
    width: 50%;
  }
  .lg-1-3 {
    width: 33.33333%;
  }
  .lg-2-3 {
    width: 66.66667%;
  }
  .lg-1-4 {
    width: 25%;
  }
  .lg-2-4 {
    width: 50%;
  }
  .lg-3-4 {
    width: 75%;
  }
  .lg-1-5 {
    width: 20%;
  }
  .lg-2-5 {
    width: 40%;
  }
  .lg-3-5 {
    width: 60%;
  }
  .lg-4-5 {
    width: 80%;
  }
  .lg-1-6 {
    width: 16.66667%;
  }
  .lg-2-6 {
    width: 33.33333%;
  }
  .lg-3-6 {
    width: 50%;
  }
  .lg-4-6 {
    width: 66.66667%;
  }
  .lg-5-6 {
    width: 83.33333%;
  }
  .lg-1-7 {
    width: 14.28571%;
  }
  .lg-2-7 {
    width: 28.57143%;
  }
  .lg-3-7 {
    width: 42.85714%;
  }
  .lg-4-7 {
    width: 57.14286%;
  }
  .lg-5-7 {
    width: 71.42857%;
  }
  .lg-6-7 {
    width: 85.71429%;
  }
  .lg-1-8 {
    width: 12.5%;
  }
  .lg-2-8 {
    width: 25%;
  }
  .lg-3-8 {
    width: 37.5%;
  }
  .lg-4-8 {
    width: 50%;
  }
  .lg-5-8 {
    width: 62.5%;
  }
  .lg-6-8 {
    width: 75%;
  }
  .lg-7-8 {
    width: 87.5%;
  }
  .lg-1-9 {
    width: 11.11111%;
  }
  .lg-2-9 {
    width: 22.22222%;
  }
  .lg-3-9 {
    width: 33.33333%;
  }
  .lg-4-9 {
    width: 44.44444%;
  }
  .lg-5-9 {
    width: 55.55556%;
  }
  .lg-6-9 {
    width: 66.66667%;
  }
  .lg-7-9 {
    width: 77.77778%;
  }
  .lg-8-9 {
    width: 88.88889%;
  }
  .lg-1-10 {
    width: 10%;
  }
  .lg-2-10 {
    width: 20%;
  }
  .lg-3-10 {
    width: 30%;
  }
  .lg-4-10 {
    width: 40%;
  }
  .lg-5-10 {
    width: 50%;
  }
  .lg-6-10 {
    width: 60%;
  }
  .lg-7-10 {
    width: 70%;
  }
  .lg-8-10 {
    width: 80%;
  }
  .lg-9-10 {
    width: 90%;
  }
  .lg-1-11 {
    width: 9.09091%;
  }
  .lg-2-11 {
    width: 18.18182%;
  }
  .lg-3-11 {
    width: 27.27273%;
  }
  .lg-4-11 {
    width: 36.36364%;
  }
  .lg-5-11 {
    width: 45.45455%;
  }
  .lg-6-11 {
    width: 54.54545%;
  }
  .lg-7-11 {
    width: 63.63636%;
  }
  .lg-8-11 {
    width: 72.72727%;
  }
  .lg-9-11 {
    width: 81.81818%;
  }
  .lg-10-11 {
    width: 90.90909%;
  }
  .lg-1-12 {
    width: 8.33333%;
  }
  .lg-2-12 {
    width: 16.66667%;
  }
  .lg-3-12 {
    width: 25%;
  }
  .lg-4-12 {
    width: 33.33333%;
  }
  .lg-5-12 {
    width: 41.66667%;
  }
  .lg-6-12 {
    width: 50%;
  }
  .lg-7-12 {
    width: 58.33333%;
  }
  .lg-8-12 {
    width: 66.66667%;
  }
  .lg-9-12 {
    width: 75%;
  }
  .lg-10-12 {
    width: 83.33333%;
  }
  .lg-11-12 {
    width: 91.66667%;
  }
  .lg-hidden {
    display: none;
  }
  .lg-not-hidden {
    display: inline-block;
  }
  .lg-first {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .lg-not-first {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .lg-last {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .lg-not-last {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .lg-gutter-0 {
    width: calc(100% + 0px);
    margin-left: -0px;
    margin-right: -0px;
    padding-left: 0;
    padding-right: 0;
  }
  .lg-gutter-0 > * {
    padding-left: 0px;
    padding-right: 0px;
  }
  .lg-gutter-8 {
    width: calc(100% + 8px);
    margin-left: -4px;
    margin-right: -4px;
    padding-left: 0;
    padding-right: 0;
  }
  .lg-gutter-8 > * {
    padding-left: 4px;
    padding-right: 4px;
  }
  .lg-gutter-16 {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
  }
  .lg-gutter-16 > * {
    padding-left: 8px;
    padding-right: 8px;
  }
  .lg-gutter-24 {
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 0;
    padding-right: 0;
  }
  .lg-gutter-24 > * {
    padding-left: 12px;
    padding-right: 12px;
  }
  .lg-gutter-40 {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
  }
  .lg-gutter-40 > * {
    padding-left: 20px;
    padding-right: 20px;
  }
  .lg-outside-0 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lg-outside-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
  .lg-outside-16 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
  .lg-outside-24 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
  .lg-outside-40 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .lg-masonry-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .lg-masonry-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .lg-masonry-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .lg-masonry-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
  .lg-masonry-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}

@media (max-width: 768px) {
  .md-auto > * {
    width: auto;
  }
  .md-1 > * {
    width: 100%;
  }
  .md-2 > * {
    width: 50%;
  }
  .md-3 > * {
    width: 33.33333%;
  }
  .md-4 > * {
    width: 25%;
  }
  .md-5 > * {
    width: 20%;
  }
  .md-6 > * {
    width: 16.66667%;
  }
  .md-7 > * {
    width: 14.28571%;
  }
  .md-8 > * {
    width: 12.5%;
  }
  .md-9 > * {
    width: 11.11111%;
  }
  .md-10 > * {
    width: 10%;
  }
  .md-11 > * {
    width: 9.09091%;
  }
  .md-12 > * {
    width: 8.33333%;
  }
  .md-table {
    display: table;
    table-layout: fixed;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .md-table > * {
    display: table-cell;
  }
  .md-flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    table-layout: auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .md-flexbox > * {
    display: inline-block;
  }
  .md-normal {
    display: block;
    table-layout: auto;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .md-normal > * {
    display: inline-block;
  }
  .md-left {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .md-center {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .md-right {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
  .md-top {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .md-top > * {
    vertical-align: top;
  }
  .md-middle {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .md-middle > * {
    vertical-align: middle;
  }
  .md-bottom {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
  .md-bottom > * {
    vertical-align: bottom;
  }
  .md-between {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
  }
  .md-around {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
  }
  .md-baseline {
    -webkit-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
  }
  .md-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .md-not-reverse {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .md-1-1 {
    width: 100%;
  }
  .md-1-2 {
    width: 50%;
  }
  .md-1-3 {
    width: 33.33333%;
  }
  .md-2-3 {
    width: 66.66667%;
  }
  .md-1-4 {
    width: 25%;
  }
  .md-2-4 {
    width: 50%;
  }
  .md-3-4 {
    width: 75%;
  }
  .md-1-5 {
    width: 20%;
  }
  .md-2-5 {
    width: 40%;
  }
  .md-3-5 {
    width: 60%;
  }
  .md-4-5 {
    width: 80%;
  }
  .md-1-6 {
    width: 16.66667%;
  }
  .md-2-6 {
    width: 33.33333%;
  }
  .md-3-6 {
    width: 50%;
  }
  .md-4-6 {
    width: 66.66667%;
  }
  .md-5-6 {
    width: 83.33333%;
  }
  .md-1-7 {
    width: 14.28571%;
  }
  .md-2-7 {
    width: 28.57143%;
  }
  .md-3-7 {
    width: 42.85714%;
  }
  .md-4-7 {
    width: 57.14286%;
  }
  .md-5-7 {
    width: 71.42857%;
  }
  .md-6-7 {
    width: 85.71429%;
  }
  .md-1-8 {
    width: 12.5%;
  }
  .md-2-8 {
    width: 25%;
  }
  .md-3-8 {
    width: 37.5%;
  }
  .md-4-8 {
    width: 50%;
  }
  .md-5-8 {
    width: 62.5%;
  }
  .md-6-8 {
    width: 75%;
  }
  .md-7-8 {
    width: 87.5%;
  }
  .md-1-9 {
    width: 11.11111%;
  }
  .md-2-9 {
    width: 22.22222%;
  }
  .md-3-9 {
    width: 33.33333%;
  }
  .md-4-9 {
    width: 44.44444%;
  }
  .md-5-9 {
    width: 55.55556%;
  }
  .md-6-9 {
    width: 66.66667%;
  }
  .md-7-9 {
    width: 77.77778%;
  }
  .md-8-9 {
    width: 88.88889%;
  }
  .md-1-10 {
    width: 10%;
  }
  .md-2-10 {
    width: 20%;
  }
  .md-3-10 {
    width: 30%;
  }
  .md-4-10 {
    width: 40%;
  }
  .md-5-10 {
    width: 50%;
  }
  .md-6-10 {
    width: 60%;
  }
  .md-7-10 {
    width: 70%;
  }
  .md-8-10 {
    width: 80%;
  }
  .md-9-10 {
    width: 90%;
  }
  .md-1-11 {
    width: 9.09091%;
  }
  .md-2-11 {
    width: 18.18182%;
  }
  .md-3-11 {
    width: 27.27273%;
  }
  .md-4-11 {
    width: 36.36364%;
  }
  .md-5-11 {
    width: 45.45455%;
  }
  .md-6-11 {
    width: 54.54545%;
  }
  .md-7-11 {
    width: 63.63636%;
  }
  .md-8-11 {
    width: 72.72727%;
  }
  .md-9-11 {
    width: 81.81818%;
  }
  .md-10-11 {
    width: 90.90909%;
  }
  .md-1-12 {
    width: 8.33333%;
  }
  .md-2-12 {
    width: 16.66667%;
  }
  .md-3-12 {
    width: 25%;
  }
  .md-4-12 {
    width: 33.33333%;
  }
  .md-5-12 {
    width: 41.66667%;
  }
  .md-6-12 {
    width: 50%;
  }
  .md-7-12 {
    width: 58.33333%;
  }
  .md-8-12 {
    width: 66.66667%;
  }
  .md-9-12 {
    width: 75%;
  }
  .md-10-12 {
    width: 83.33333%;
  }
  .md-11-12 {
    width: 91.66667%;
  }
  .md-hidden {
    display: none;
  }
  .md-not-hidden {
    display: inline-block;
  }
  .md-first {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .md-not-first {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .md-last {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .md-not-last {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .md-gutter-0 {
    width: calc(100% + 0px);
    margin-left: -0px;
    margin-right: -0px;
    padding-left: 0;
    padding-right: 0;
  }
  .md-gutter-0 > * {
    padding-left: 0px;
    padding-right: 0px;
  }
  .md-gutter-8 {
    width: calc(100% + 8px);
    margin-left: -4px;
    margin-right: -4px;
    padding-left: 0;
    padding-right: 0;
  }
  .md-gutter-8 > * {
    padding-left: 4px;
    padding-right: 4px;
  }
  .md-gutter-16 {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
  }
  .md-gutter-16 > * {
    padding-left: 8px;
    padding-right: 8px;
  }
  .md-gutter-24 {
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 0;
    padding-right: 0;
  }
  .md-gutter-24 > * {
    padding-left: 12px;
    padding-right: 12px;
  }
  .md-gutter-40 {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
  }
  .md-gutter-40 > * {
    padding-left: 20px;
    padding-right: 20px;
  }
  .md-outside-0 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
  .md-outside-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
  .md-outside-16 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
  .md-outside-24 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
  .md-outside-40 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .md-masonry-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .md-masonry-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .md-masonry-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .md-masonry-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
  .md-masonry-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}

@media (max-width: 667px) {
  .sm-auto > * {
    width: auto;
  }
  .sm-1 > * {
    width: 100%;
  }
  .sm-2 > * {
    width: 50%;
  }
  .sm-3 > * {
    width: 33.33333%;
  }
  .sm-4 > * {
    width: 25%;
  }
  .sm-5 > * {
    width: 20%;
  }
  .sm-6 > * {
    width: 16.66667%;
  }
  .sm-7 > * {
    width: 14.28571%;
  }
  .sm-8 > * {
    width: 12.5%;
  }
  .sm-9 > * {
    width: 11.11111%;
  }
  .sm-10 > * {
    width: 10%;
  }
  .sm-11 > * {
    width: 9.09091%;
  }
  .sm-12 > * {
    width: 8.33333%;
  }
  .sm-table {
    display: table;
    table-layout: fixed;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .sm-table > * {
    display: table-cell;
  }
  .sm-flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    table-layout: auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .sm-flexbox > * {
    display: inline-block;
  }
  .sm-normal {
    display: block;
    table-layout: auto;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -webkit-justify-content: initial;
    -ms-justify-content: initial;
    justify-content: initial;
    -webkit-align-content: initial;
    -ms-align-content: initial;
    align-content: initial;
    -webkit-align-items: initial;
    -ms-align-items: initial;
    align-items: initial;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .sm-normal > * {
    display: inline-block;
  }
  .sm-left {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
  .sm-center {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .sm-right {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right;
  }
  .sm-top {
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .sm-top > * {
    vertical-align: top;
  }
  .sm-middle {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .sm-middle > * {
    vertical-align: middle;
  }
  .sm-bottom {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }
  .sm-bottom > * {
    vertical-align: bottom;
  }
  .sm-between {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
  }
  .sm-around {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;
  }
  .sm-baseline {
    -webkit-align-items: baseline;
    -ms-align-items: baseline;
    align-items: baseline;
  }
  .sm-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .sm-not-reverse {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sm-1-1 {
    width: 100%;
  }
  .sm-1-2 {
    width: 50%;
  }
  .sm-1-3 {
    width: 33.33333%;
  }
  .sm-2-3 {
    width: 66.66667%;
  }
  .sm-1-4 {
    width: 25%;
  }
  .sm-2-4 {
    width: 50%;
  }
  .sm-3-4 {
    width: 75%;
  }
  .sm-1-5 {
    width: 20%;
  }
  .sm-2-5 {
    width: 40%;
  }
  .sm-3-5 {
    width: 60%;
  }
  .sm-4-5 {
    width: 80%;
  }
  .sm-1-6 {
    width: 16.66667%;
  }
  .sm-2-6 {
    width: 33.33333%;
  }
  .sm-3-6 {
    width: 50%;
  }
  .sm-4-6 {
    width: 66.66667%;
  }
  .sm-5-6 {
    width: 83.33333%;
  }
  .sm-1-7 {
    width: 14.28571%;
  }
  .sm-2-7 {
    width: 28.57143%;
  }
  .sm-3-7 {
    width: 42.85714%;
  }
  .sm-4-7 {
    width: 57.14286%;
  }
  .sm-5-7 {
    width: 71.42857%;
  }
  .sm-6-7 {
    width: 85.71429%;
  }
  .sm-1-8 {
    width: 12.5%;
  }
  .sm-2-8 {
    width: 25%;
  }
  .sm-3-8 {
    width: 37.5%;
  }
  .sm-4-8 {
    width: 50%;
  }
  .sm-5-8 {
    width: 62.5%;
  }
  .sm-6-8 {
    width: 75%;
  }
  .sm-7-8 {
    width: 87.5%;
  }
  .sm-1-9 {
    width: 11.11111%;
  }
  .sm-2-9 {
    width: 22.22222%;
  }
  .sm-3-9 {
    width: 33.33333%;
  }
  .sm-4-9 {
    width: 44.44444%;
  }
  .sm-5-9 {
    width: 55.55556%;
  }
  .sm-6-9 {
    width: 66.66667%;
  }
  .sm-7-9 {
    width: 77.77778%;
  }
  .sm-8-9 {
    width: 88.88889%;
  }
  .sm-1-10 {
    width: 10%;
  }
  .sm-2-10 {
    width: 20%;
  }
  .sm-3-10 {
    width: 30%;
  }
  .sm-4-10 {
    width: 40%;
  }
  .sm-5-10 {
    width: 50%;
  }
  .sm-6-10 {
    width: 60%;
  }
  .sm-7-10 {
    width: 70%;
  }
  .sm-8-10 {
    width: 80%;
  }
  .sm-9-10 {
    width: 90%;
  }
  .sm-1-11 {
    width: 9.09091%;
  }
  .sm-2-11 {
    width: 18.18182%;
  }
  .sm-3-11 {
    width: 27.27273%;
  }
  .sm-4-11 {
    width: 36.36364%;
  }
  .sm-5-11 {
    width: 45.45455%;
  }
  .sm-6-11 {
    width: 54.54545%;
  }
  .sm-7-11 {
    width: 63.63636%;
  }
  .sm-8-11 {
    width: 72.72727%;
  }
  .sm-9-11 {
    width: 81.81818%;
  }
  .sm-10-11 {
    width: 90.90909%;
  }
  .sm-1-12 {
    width: 8.33333%;
  }
  .sm-2-12 {
    width: 16.66667%;
  }
  .sm-3-12 {
    width: 25%;
  }
  .sm-4-12 {
    width: 33.33333%;
  }
  .sm-5-12 {
    width: 41.66667%;
  }
  .sm-6-12 {
    width: 50%;
  }
  .sm-7-12 {
    width: 58.33333%;
  }
  .sm-8-12 {
    width: 66.66667%;
  }
  .sm-9-12 {
    width: 75%;
  }
  .sm-10-12 {
    width: 83.33333%;
  }
  .sm-11-12 {
    width: 91.66667%;
  }
  .sm-hidden {
    display: none;
  }
  .sm-not-hidden {
    display: inline-block;
  }
  .sm-first {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1;
  }
  .sm-not-first {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .sm-last {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .sm-not-last {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
  .sm-gutter-0 {
    width: calc(100% + 0px);
    margin-left: -0px;
    margin-right: -0px;
    padding-left: 0;
    padding-right: 0;
  }
  .sm-gutter-0 > * {
    padding-left: 0px;
    padding-right: 0px;
  }
  .sm-gutter-8 {
    width: calc(100% + 8px);
    margin-left: -4px;
    margin-right: -4px;
    padding-left: 0;
    padding-right: 0;
  }
  .sm-gutter-8 > * {
    padding-left: 4px;
    padding-right: 4px;
  }
  .sm-gutter-16 {
    width: calc(100% + 16px);
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 0;
    padding-right: 0;
  }
  .sm-gutter-16 > * {
    padding-left: 8px;
    padding-right: 8px;
  }
  .sm-gutter-24 {
    width: calc(100% + 24px);
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 0;
    padding-right: 0;
  }
  .sm-gutter-24 > * {
    padding-left: 12px;
    padding-right: 12px;
  }
  .sm-gutter-40 {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
  }
  .sm-gutter-40 > * {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sm-outside-0 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sm-outside-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
  .sm-outside-16 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
  }
  .sm-outside-24 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
  .sm-outside-40 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sm-masonry-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .sm-masonry-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  .sm-masonry-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .sm-masonry-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
  .sm-masonry-6 {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}


[role="button"] {
  cursor: pointer;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  border-radius:         $radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

@mixin transition ($durations) {
    -webkit-transition: all ease $durations;
    -moz-transition: all ease $durations;
    -o-transition: all ease $durations;
    transition: all ease $durations;
}
@mixin scale ($size) {
    -webkit-transform: scale($size);
    -moz-transform: scale($size);
    -ms-transform: scale($size);
    -o-transform: scale($size);
    transform: scale($size);
}
@mixin rotate ($size) {
    -webkit-transform: rotate($size);
    -moz-transform: rotate($size);
    -ms-transform: rotate($size);
    -o-transform: rotate($size);
    transform: rotate($size);
}

@mixin box-shadow ($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow:    $string;
  box-shadow:         $string;
}