@import "general";

.padding0 {
	padding: 0 !important;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
img {
	display: block;
	max-width: 100%;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.btn {
	background: transparent;
	outline: none;
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	cursor: pointer;
}
.btn-default {
	color: #212121;
	font-weight: 700;
	border: 2px solid #ef860a;
	display: block;
	float: left;
	min-width: 150px;
	font-size: 15px;
	line-height: 20px;
	padding: 10px;
	text-align: center;
	@include transition(0.3s);
	&:hover {
		background: #ef860a;
		color: #ffffff;
	}
}
a {
	text-decoration: none;
}


body {
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

.middle {
	display: table;
	.article, >div {
		display: table-cell;
		vertical-align: middle;
	}
}
.cover-bg {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}